.game {
    width: 255px;
    text-align: center;
    font-family: system-ui;
    color: white;
    margin: auto;
    font-weight: 500;

}

.title {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
    margin: 10px 0;
    background-color: black;
}

span {
    color: gray;
}

.square {
    width: 80px;
    height: 80px;
    background-color: black;
    margin: 2.5px;
    float: left;
    font-size: 50px;
}

.square:hover {
    background-color: rgba(0, 0, 0, 0.144);
    cursor: pointer;
}